<!DOCTYPE html>
<html>
  <head>
    <title>Cardwalls</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
  <% flash.each do |key, value| %>
    <div class="<%= flash_class(key) %>" style="max-width: 100vw;">
      <%= value %>
    </div>
  <% end %>
    <div class="main-container">
      <%= yield %>
    </div>
  </body>
</html>
