<!DOCTYPE html>
<html>
  <head>
    <title>Cardwalls</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
  <% flash.each do |key, value| %>
    <div class="<%= flash_class(key) %>" style="max-width: 100vw;">
      <%= value %>
    </div>
  <% end %>
  <div data-behavior="header">
    <header-view :current-user="<%= @current_user_json %>" :current-workspace="<%= @current_workspace_json || '{}' %>" :available-users="<%= @available_users_json || '{}' %>"></header-view>
  </div>
    <div class="main-container">
      <%= javascript_pack_tag 'header.js' %>
      <%= stylesheet_pack_tag 'header', id: "main-stylesheet", media: "all" %>
      <%= yield %>
    </div>
  </body>
</html>
